/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que le padding o afecte al ancho total */
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* 1rem sea igual a 10px */
    width: 100vw;
    height: 100vh;
}

body, button {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;    /* Cnetra el juego en pantalla */
    width: 100%;
    height: 100%;
}

/* CONTENEDOR PRINCIPAL */
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    box-shadow: 0 0 15px #0000004b;
    border-radius: 10px;
    gap: 20px;
}

.container h2 {
    color: #ffd374;
    font-size: 2.45rem;
    text-decoration: underline;
    margin-top: 10px;
}

.container p {
    font-size: 1.5rem;
}

/* INDICADORES DE BARCOS */
.box-check {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: 40px 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

/* POSICIONAMIENTO INDIVIDUAL */
.box-check p {
    font-size: 1.41rem;
}

.box-check p:first-of-type {
    grid-row: 1/2;
    grid-column: 1/2;
}

.box-check p:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.box-check p:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.box-check p:nth-of-type(4) {
    grid-row: 1/2;
    grid-column: 4/5;
}

.box-check p:last-of-type {
    grid-row: 1/2;
    grid-column: 5/6;
}

#check5b {
    grid-row: 2/3;
    grid-column: 1/2;
}

#check4b {
    grid-row: 2/3;
    grid-column: 2/3;
}

#check3b {
    grid-row: 2/3;
    grid-column: 3/4;
}

#check2b {
    grid-row: 2/3;
    grid-column: 4/5;
}

#check1b {
    grid-row: 2/3;
    grid-column: 5/6;
}

/* TABLERO */
#tablero {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
    background: #ffcd8178;
    border: 1px solid #fdb54a;
    gap: 3.5px;
    padding: 3.5px;
}

/* ESTILO DE LAS CASILLAS */
.casilla {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.52rem;
    padding: 10px;
}

/* Casillas de A-J y 1-10 */
.casilla-simb, .casilla-vacia {
    background: #edb15879;
    color: #ffffff;
}

/* Casillas donde el usuario hará click */
.casilla-hueco, .barco {
    cursor: pointer;
    background: #ffffffb0;
    border: 1px solid #83838300;
    transition: 0.4s;
}

.casilla-hueco:hover, .barco:hover {
    background: #f9f9f9f9;
    border: 1px solid #383838;
}

/* Estado marcado */
.marcada:hover {
    cursor: auto;
    border: none;
}

.button-restart {
    margin: 6.3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    pointer-events: none;
    accent-color: #ff5757;
    transform: scale(1.5);
}

/* BOTÓN DE REINICIO */
button {
    padding: 10px;
    background: #ffd7a3;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fafafa;
    border: 0px solid #ffd7a300;
    transition: 0.4s;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 0;
}

button:hover {
    background: #cb842088;
    border: 2px solid #ffd7a3;
    border-radius: 10px;
    color: #0f0f0fa2;
}

/* RESPONSIVE */
/* Vista de tablets*/
@media (max-width: 863px) {
    .container {
        width: 100vw;
        height: 100vh;
        flex-direction: row;
        gap: 10px;
    }

    .container h2 {
        display: none;  /* Hacer no visible el encabezado */
    }

    .button-restart {
        display: none;
    }

    .box-check {
        order: 1;
        display: grid;
        grid-template-rows: repeat(5, 85px);
        grid-template-columns: 50px 35px;
        background: #f0f0f0;
        padding: 10px;
        border-radius: 8px;
    }

    .box-check p {
        font-size: 1.2rem;
    }

    .box-check p:first-of-type {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .box-check p:nth-of-type(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .box-check p:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .box-check p:nth-of-type(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .box-check p:last-of-type {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    input[type="checkbox"] {
        transform: scale(1);
    }

    #check5b {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #check4b {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #check3b {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    #check2b {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    #check1b {
        grid-row: 5/6;
        grid-column: 2/3;
    }

    #tablero {
        order: 2;
        /* Ajuste de tamaño de celdas para que quepan en pantallas medianas */
        grid-template-columns: repeat(11, minmax(0, 40px));
        padding: 1.5px;
        gap: 2px;
    }
}

/* Vista móvil */
@media (max-width: 576px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: none;   /* Quitar bordes */
        box-shadow: none;   /* QUitar sombreado */
    }

    .container h2 {
        display: block; /* Hacer el encabezado visible para vista móvil */
        font-size: 1.87rem;
        order: 1;
    }

    .box-check {
        width: 100%;
        order: 2;
        grid-template-rows: 45px 20px;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        border-radius: 8px;
    }

    .box-check p {
        font-size: 1.2rem;
    }

    .box-check p:first-of-type {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .box-check p:nth-of-type(2) {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .box-check p:nth-child(3) {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .box-check p:nth-of-type(4) {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    .box-check p:last-of-type {
        grid-row: 1/2;
        grid-column: 5/6;
    }

    input[type="checkbox"] {
        transform: scale(1);
    }
    
    #check5b {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    #check4b {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    #check3b {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    #check2b {
        grid-row: 2/3;
        grid-column: 4/5;
    }

    #check1b {
        grid-row: 2/3;
        grid-column: 5/6;
    }
    
    #tablero {
        width: 100%;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        padding: 1.5px;
        gap: 1.5px;
        order: 3;
    }

    .casilla {
        padding: 10px;
        font-size: 1.22rem;
    }

    .button-restart {
        display: none;  /* Hacer no visible el .button-restart para vista móvil */
    }    
}

