/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* = 16px */
}

body, button {
    font-family: "Google Sans Flex", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 35px;
    align-items: center;
    justify-content: center;
}

.container h2 {
    font-size: 2.4rem;
    margin: 10px 0;
}

.container p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.box-check {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: repeat(2, 40px);
    align-items: center;
    justify-items: center;
}

.box-check p {
    text-align: center;
}

.box-check p:first-of-type {
    grid-row: 1/2;
    grid-column: 1/2;
}

.box-check p:nth-of-type(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.box-check p:nth-child(3) {
    grid-row: 1/2;
    grid-column: 3/4;
}

.box-check p:nth-of-type(4) {
    grid-row: 1/2;
    grid-column: 4/5;
}

.box-check p:last-of-type {
    grid-row: 1/2;
    grid-column: 5/6;
}

input {
    transform: scale(1.5);
}

#check5b {
    grid-row: 2/3;
    grid-column: 1/2;
}

#check4b {
    grid-row: 2/3;
    grid-column: 2/3;
}

#check3b {
    grid-row: 2/3;
    grid-column: 3/4;
}

#check2b {
    grid-row: 2/3;
    grid-column: 4/5;
}

#check1b {
    grid-row: 2/3;
    grid-column: 5/6;
}


#tablero {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-columns: repeat(11, 50px);
    background: #e5e5e5;
    border: 1px solid #353535;
    gap: 3.5px;
    padding: 3.5px;
    margin: 20px 0;
}

.casilla {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.52rem;
    padding: 10px;
}

.casilla-simb {
    background: #e7b882;
}

.casilla-vacia {
    background: #e7b88277;
}

.casilla-hueco {
    cursor: pointer;
    background: #5ba0cf;
    transition: 0.4s;
}

.casilla-hueco:hover {
    background: #34438f;
}

.barco {
    background: #5ba0cf;
}

.button-restart {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    background: #d3d3d372;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: 0.4s;
    font-size: 1.4rem;
    width: 100%;
}

button:hover {
    background: #ebe3c1;
    border: 1px solid #303030;
}